h1 {
	font-size: 20px;
	font-family: "Inconsolata", serif;
	font-weight: 200;
}

h2 {
	font-weight: 100;
	font-style: italic;
	font-family: "Inconsolata", serif;
	font-size: 15px;
}

.lyrics {
	font-weight: 100;
	margin: center;
	padding: 20px;
	font-family: "Inconsolata", serif;
	font-size: 20px;
}

